<h2>{{ editing ? 'Edit Job' : 'Post a New Job' }}</h2>

<form [formGroup]="jobForm" (ngSubmit)="submit()">
    <label>Job Title:</label>
    <input type="text" formControlName="title" required />

    <label>Company:</label>
    <input type="text" formControlName="company" required />

    <label>Location:</label>
    <input type="text" formControlName="location" required />

    <label>Description:</label>
    <textarea formControlName="description"></textarea>

    <label>Category:</label>
    <input type="text" formControlName="category" />

    <label>Status:</label>
    <select formControlName="status">
      <option value="active">Active</option>
      <option value="expired">Expired</option>
      <option value="closed">Closed</option>
    </select>

    <label>Salary Range:</label>
    <input type="text" formControlName="salaryRange" />


    <button type="submit">{{ editing ? 'Update' : 'Post' }}</button>
</form>

<a routerLink="/manage-jobs" class="back-button">← Back to Manage Jobs</a>