<div class="apply-form">
    <h2>Apply to {{ job?.title }}</h2>

    <form (ngSubmit)="submitApplication()">
        <label for="resumeText">Resume Text:</label>
        <textarea id="resumeText" [(ngModel)]="resumeText" name="resumeText" placeholder="Write your resume here"
            required></textarea>

        <label for="coverLetter">Cover Letter:</label>
        <textarea id="coverLetter" [(ngModel)]="coverLetter" name="coverLetter"
            placeholder="Write your cover letter here" required></textarea>

        <button type="submit">Submit</button>
    </form>

    <br />
    <a routerLink="/jobs" class="back-button">← Back to Job List</a>
</div>