.signup-wrapper {
    margin-top: 140px;
    text-align: center;
  }
  
  .signup-title {
    color: #0a1d5d;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 300px;
    margin: auto;
  }
  
  .signup-input,
  .signup-select {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-button {
    padding: 0.5rem 1rem;
    background-color: #0a1d5d;
    color: white;
    border: none;
    border-radius: 5px;
  }
  