<div class="wrapper">
  <header class="header">
    <h1 class="title">Early Bird Jobs</h1>
    <p class="description">
      A Job Portal that aims to aid CBS Students in their career aspirations!
    </p>
  </header>

  <div class="button-container">
    <a routerLink="/login" class="login-button">
      Login
    </a>

    <a routerLink="/signup" class="signup-button">
      Sign Up
    </a>
  </div>
</div>

<a routerLink="/dashboard" class="dashboard-button">Go to Dashboard</a>


<footer class="footer">
  <p>&copy; 2025 Early Bird Jobs. All rights reserved.</p>
</footer>
